<div fxLayout="row" style="padding-top: 16px">
  <div fxFlex="60" fxFlex.xs="100"></div>
  <div fxFlex="40" fxHide.lt-sm>
    <div fxLayout="row">
      <div fxFlex="25" style="text-align: center;">Baseline</div>
      <div fxFlex="25" style="text-align: center;">Target</div>
      <div fxFlex="25" style="text-align: center;">Frequency</div>
      <div fxFlex="25" style="text-align: center;">Type</div>
    </div>
  </div>
</div>
<app-tree-element [m]="0" [title]="'project title'" [type]="'project'">
  <app-tree-element [m]="0.5" [title]="'Outcome title'" [type]="'outcome'">
    <app-tree-element [m]="1" [title]="'Output title'" [type]="'output'">
      <app-tree-element [m]="1.5" [title]="'Activity title'" [type]="'activity'"></app-tree-element>
    </app-tree-element>
  </app-tree-element>
</app-tree-element>

