<form style="padding:24px; overflow: hidden !important;" novalidate [formGroup]="generalForm" (ngSubmit)="submit()">
  <p style="width: 90%; margin: 0 1.5%; overflow: hidden;" *ngIf="message" class="message-display success">{{message}}</p>
  <p style="width: 90%; margin: 0 1.5%; overflow: hidden;" *ngIf="error" class="message-display error">{{error}}</p>
  <p>
    <mat-form-field class="full-width">
      <mat-select formControlName="type" placeholder="select outcome type" >
        <mat-option *ngFor="let plan of timePlans$ | async" [value]="plan.id" >
          {{plan.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="invalid-feedback" *ngIf="displayMessage.type">
                    {{displayMessage.type}}
                  </span>
  </p>
  <p>
    <mat-form-field class="full-width">
      <input type="text" formControlName="name" matInput placeholder="outcome title">
    </mat-form-field>
    <span class="invalid-feedback" *ngIf="displayMessage.name">
                    {{displayMessage.name}}
                  </span>
  </p>
  <button mat-raised-button color="primary" type="submit"
          class="submit-button text-floral-white"
          [disabled]="generalForm.invalid || generalForm.pristine">
    <mat-icon iconsmall>save</mat-icon>Save
  </button>
</form>
