.title{
  vertical-align: center;
  align-items: flex-start;
  display: flex;
  justify-content: start;
  padding-top: 12.2px;
  padding-bottom: 8px;
}
.menu{
  width: 128px;
  position: absolute;
  top: 36px;
  z-index: 999999999999999999999999999999999;
  text-align: left;
  background-color: white;
  padding: 0;
}
::ng-deep .mat-list-item-content{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.my-badge{
  padding: 4px 8px;
  color: white;
  position: relative;
  max-height: 20px;
  top: -3px;
}
.project {
  border: 2px solid red;
}
.output{
  border: 2px solid #15980d;
}
.outcome{
  border: 2px solid #039be5;
}
.indicator{
  border: 2px solid #b29000;
}
.activity{
  border: 2px solid #5268d6;
}
.left-padding{
  padding-left: 8px;
}
