.board{
  //linearGradient: #24c6dc, #514a9d; // #5c258d #4389a2, 614385, 516395
  background: linear-gradient(white, rgba(176, 172, 169, 0.5));
  min-height: 128px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.title{
  display: block;
  align-self: center;
  top: 3em;
  position: relative;
  cursor: pointer;
}
