<div fxLayout="row" class="container-fluid" style="padding-top: 16px;">
  <mat-toolbar color="primary">
    <h1 class="mat-headline center-align">{{title}}</h1>
  </mat-toolbar>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" class="container-fluid" style="margin-bottom: 20%;">
  <app-project fxFlex="23.52" fxFlex.xs="100"></app-project>
  <app-project fxFlex="23.52" fxFlex.xs="100"></app-project>
  <app-project fxFlex="23.52" fxFlex.xs="100"></app-project>
  <app-project fxFlex="23.52" fxFlex.xs="100"></app-project>
  <app-project fxFlex="23.52" fxFlex.xs="100"></app-project>
  <app-project fxFlex="23.52" fxFlex.xs="100"></app-project>
</div>
